<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="favicon" rel="shortcut icon" href="static/pixiv.png" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./font/iconfont.css" />
    <title>PixivBiu</title>

    <style>
      #header {
        background-color: #1f2224;
      }
      #header a {
        color: #fff;
        text-decoration: none;
      }

      #footer a {
        color: #fff;
        text-decoration: none;
      }
      #main #Carousel img {
        height: 600px;
      }
      body {
        background-color: #f2f2f2;
      }
      .card-group .card-title {
        height: 70px;
      }
      .card-group .card {
        height: 540px;
      }
      .card-group .card img {
        object-fit: cover;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <!-- 导航 -->
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link disabled"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                  >Disabled</a
                >
              </li>
            </ul>

            <!-- 搜索 -->
            <form class="d-flex">
              <input
                type="search"
                class="form-control"
                aria-label="Text input with dropdown button"
              />
              <button
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                搜索
              </button>
              <ul class="dropdown-menu dropdown-menu-end bg-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
              </ul>
            </form>
            <!-- 右侧个人中心 -->
            <!-- <ul class="nav justify-content-end">
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://img0.baidu.com/it/u=3353211517,995971476&fm=26&fmt=auto&gp=0.jpg"
              class="rounded-circle" alt="..." style="width: 40px;">

            个人中心
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        </li>

      </ul> -->
          </div>
        </div>
      </nav>
    </div>
    <div id="main">
      <div id="Carousel" class="row">
        <div
          id="carouselExampleCaptions"
          class="carousel slide col"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="..\..\static\multiverse\images\fulls\01.jpg"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="..\..\static\multiverse\images\fulls\02.jpg"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>
                  Some representative placeholder content for the second slide.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="..\..\static\multiverse\images\fulls\03.jpg"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>
                  Some representative placeholder content for the third slide.
                </p>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div
        class="row row-cols-sm-1 row-cols-xs-2 row-cols-md-3 row-cols-lg-4"
        id="Card-img"
      ></div>
    </div>

    <!-- <div id="footer" class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="text-light">PIXIVBIU@2.1.0</h3>
            <p class="text-light">
              一款不错的 Pixiv 搜索辅助工具。 基于 Python@3.7(+) 构建。
            </p>
            <h3 class="text-light">一些链接</h3>
            <p>
              <a class="text-white-50" href="">© 铜锣烧计划.</a>
            </p>
            <p>
              <a class="text-white-50" href="">Created by Trii Hisa.</a>
            </p>
            <p>
              <a class="text-white-50" href="">Design by HTML5 UP.</a>
            </p>
          </div>
          <div class="col">
            <h3 class="text-light">其他</h3>
            <p class="text-light">如何使用? & 反馈</p>
            <p class="text-white-50">
              If you feel your rights have been violated, please contact me
              through the information above. Sorry a lot.
            </p>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div> -->
    <script src="https://www.jq22.com/jquery/jquery-3.3.1.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="./js/main.js"></script>
    <script>
      var tmpCode;
      var tmpPageData;
      var tmpSearchSettings = {};
      var downloadList = {};
      var settingsMods = {
        "#settingsPageNum": ["pixivbiu_searchPageNum", 5, "每组页数"],
        "#settingsIsOriPic": ["pixivbiu_displayIsOriPic", "off", "大图预览"],
        "#settingsIsAllSort": ["pixivbiu_funIsAllSort", "off", "更多排序"],
        "#settingsSortMode": ["pixivbiu_sortMode", "0", "排序模式"],
        "#settingsSearchMode": ["pixivbiu_searchMode", "tag", "搜索模式"],
        "#settingsRvrProxyUrl": [
          "pixivbiu_RvrProxyUrl",
          "https://i.pixiv.cat",
          "图片反代地址",
        ],
      };

      var text = $.ajax({
        url: "api/biu/get/rank/",
        type: "GET",
        data: {
          mode: "day",
          totalPage: 1,
          groupIndex: 0,
        },
        success: function (rep) {
          rep = jQuery.parseJSON(JSON.stringify(rep));

          if (rep.code) {
            console.log(rep.msg.rst.data);
            tmpPageData = rep.msg;
            showPics("排行榜@", ["main", "header"]);
          } else {
            showPics("Error :<", ["main"], []);
          }
        },
        error: function (rep) {
          showPics("Error :<", ["main"], []);
        },
      });
      function showPics(
        title = "",
        reLoadList = ["main", "header"],
        c = tmpPageData
      ) {
        let rstHtml = "",
          kt;
        let headerHtml =
          '<li><a href="javascript: isShowSettings();">搜索设置</a></li>';
        const typeName = {
          illustration: "图",
          manga: "漫",
          ugoira: "动",
          other: "其他",
        };
        if (c.rst && c.rst.data) {
          let i = 0;
          const data = c.rst.data;
          const groupIndex = Number(c["args"]["ops"]["groupIndex"]);
          // 整理结果
          // 用户作品类的用户信息显示
          if (
            c.rst.data.length > 0 &&
            c["args"]["ops"]["method"] === "userWorks"
          ) {
            let li = "";
            if (data[0]["author"]["is_followed"]) {
              li =
                '<a id="follow_' +
                data[0]["author"]["id"] +
                '" href="javascript: doFollow(' +
                data[0]["author"]["id"] +
                ', \'del\');"><b class="tooltip" title="取消关注"><hicon>💘</hicon></b></a>';
            } else {
              li =
                '<a id="follow_' +
                data[0]["author"]["id"] +
                '" href="javascript: doFollow(' +
                data[0]["author"]["id"] +
                ', \'add\');"><b class="tooltip" title="关注"><hicon>💗</hicon></b></a>';
            }
            li +=
              '<a target="_blank" href="https://www.pixiv.net/users/' +
              data[0]["author"]["id"] +
              '"><d class="tooltip" title="打开画师 Pixiv 主页">Pixiv</d></a>';
            li +=
              '<a target="_blank" href=".?code=%40u%3d' +
              data[0]["author"]["id"] +
              '%20-f"><op class="tooltip" title="获取 TA 的关注列表">关注列表</op></a>';
            rstHtml +=
              '<article class="thumb"><a class="imageBtn"><img src="' +
              data[0]["all"]["user"]["profile_image_urls"]["medium"].replace(
                "i.pximg.net",
                "i.pixiv.cat"
              ) +
              '" alt="" /></a><h2>画师@' +
              data[0]["author"]["name"] +
              '</h2><section class="thumbAction">' +
              li +
              "</section></article>";
          }

          // 用户列表整理
          for (
            i = 0;
            i < data.length &&
            (c["args"]["ops"]["method"] === "userFollowing" ||
              c["args"]["ops"]["method"] === "searchUsers");
            i++
          ) {
            let li = "";
            if (data[i]["is_followed"]) {
              li =
                '<a id="follow_' +
                data[i]["id"] +
                '" href="javascript: doFollow(' +
                data[i]["id"] +
                ', \'del\');"><b class="tooltip" title="取消关注"><hicon>💘</hicon></b></a>';
            } else {
              li =
                '<a id="follow_' +
                data[i]["id"] +
                '" href="javascript: doFollow(' +
                data[i]["id"] +
                ', \'add\');"><b class="tooltip" title="关注"><hicon>💗</hicon></b></a>';
            }
            li +=
              '<a target="_blank" href=".?code=%40u%3d' +
              data[i]["id"] +
              '%20-i"><d class="tooltip" title="获取 TA 的作品">🔍作品</d></a>';
            rstHtml +=
              '<article class="thumb"><a class="imageBtn"><img src="' +
              data[i]["profile_image_urls"]["medium"].replace(
                "i.pximg.net",
                "i.pixiv.cat"
              ) +
              '" alt="" /></a><h2>' +
              data[i]["name"] +
              '</h2><section class="thumbAction">' +
              li +
              "</section></article>";
          }

          // 通用作品整理
          for (
            i = 0;
            i < data.length &&
            c["args"]["ops"]["method"] !== "userFollowing" &&
            c["args"]["ops"]["method"] !== "searchUsers";
            i++
          ) {
            var extra = "";
            var imgUrlCover = data[i]["image_urls"]["medium"].replace(
              "https://i.pximg.net",
              "https://i.pixiv.cat"
            );
            console.log(imgUrlCover);
            var imgUrl = data[i]["image_urls"]["large"].replace(
              "https://i.pximg.net",
              tmpSearchSettings["pixivbiu_RvrProxyUrl"]
            );
            var bookedNum = data[i]["total_bookmarked"];

            if (data[i]["all"]["meta_pages"].length > 0) {
              typeName["illustration"] = "多图";
              typeName["manga"] = "漫画";
              extra +=
                '<a target="_blank" href=".?code=%40w%3d' +
                data[i]["id"] +
                '"><op class="tooltip" title="查看完整作品">👀</op></a>';
            } else {
              typeName["illustration"] = "图";
              typeName["manga"] = "单漫";
            }

            if (tmpSearchSettings["pixivbiu_displayIsOriPic"] !== "on")
              imgUrl = imgUrlCover;
            console.log(imgUrlCover);
            if (c["args"]["ops"]["method"] === "rank") bookedNum = "";

            // 收藏按钮
            if (data[i]["is_bookmarked"]) {
              extra +=
                '<a id="marks_' +
                data[i]["id"] +
                '" href="javascript: doBookmark(' +
                data[i]["id"] +
                ', \'del\');"><b class="tooltip" title="取消收藏"><hicon>💘</hicon>' +
                bookedNum +
                "</b></a>";
            } else {
              extra +=
                '<a id="marks_' +
                data[i]["id"] +
                '" href="javascript: doBookmark(' +
                data[i]["id"] +
                ', \'add\');"><b class="tooltip" title="收藏"><hicon>💗</hicon>' +
                bookedNum +
                "</b></a>";
            }

            // 下载归类用的文件夹名称
            if (c["args"]["fun"]["kt"]) {
              kt = c["args"]["fun"]["kt"];
            } else if (c["args"]["ops"]["method"] === "userWorks") {
              kt =
                "画师_" +
                data[0]["author"]["name"] +
                "@" +
                data[0]["author"]["id"];
            } else if (c["args"]["ops"]["method"] === "userMarks") {
              kt = "收藏_" + c["args"]["fun"]["userID"];
            } else if (c["args"]["ops"]["method"] === "rank") {
              kt = "排行榜_" + c["args"]["fun"]["mode"];
            } else if (c["args"]["ops"]["method"] === "oneWork") {
              kt = "作品";
            } else {
              kt = c["args"]["ops"]["method"];
            }
            kt = kt.replaceAll("'", "\\'").replaceAll('"', '\\"');
            // 下载按钮
            extra +=
              '<a id="dl_' +
              data[i]["id"] +
              '" href="javascript: doDownloadPic(\'' +
              kt +
              "', " +
              data[i]["id"] +
              ", " +
              String(i) +
              ');"><d class="tooltip" title="下载">' +
              typeName[data[i]["type"]] +
              "</d></a>";

            // 图片预览内容
            var extraText =
              '<a target="_blank" href=".?code=%40u%3d' +
              data[i]["author"]["id"] +
              '%20-i">🔍作者插画</a> <a target="_blank" href=".?code=%40u%3d' +
              data[i]["author"]["id"] +
              '%20-c">🔍作者漫画</a>';

            if (data[i]["all"]["meta_pages"].length > 0) {
              extraText =
                '<a target="_blank" href=".?code=%40w%3d' +
                data[i]["id"] +
                '">👀查看</a> ' +
                extraText;
            }
            // 图片信息展示
            var desText =
              '<h2><a target="_blank" href="https://www.pixiv.net/artworks/' +
              data[i]["id"] +
              '">' +
              data[i]["title"] +
              '</a></h2><p>Created by <a target="_blank" href="https://www.pixiv.net/users/' +
              data[i]["author"]["id"] +
              '">' +
              data[i]["author"]["name"] +
              "</a> on " +
              data[i]["created_time"] +
              "<br>#收藏" +
              data[i]["total_bookmarked"] +
              " #浏览" +
              data[i]["total_viewed"] +
              "</p>";
            //// 标签
            var tagss = '<p style="max-width: 25%;">';
            for (let kk = 0; kk < data[i]["tags"].length; kk++) {
              tagss =
                tagss +
                '<a target="_blank" href=".?code=%40s%3d' +
                escape(data[i]["tags"][kk]) +
                ' -o">#' +
                data[i]["tags"][kk] +
                "</a> ";
            }
            desText = tagss + "</p>" + desText;
            if (c["args"]["ops"]["method"] === "oneWork" && i !== 0) {
              extra = "";
              extraText = "";
              desText = "";
            }
            // 最终结果
            rstHtml +=
              '<div class="card-group" id = "' +
              data[i]["id"] +
              '"><div class="card">' +
              '<a href="' +
              imgUrl +
              '">' +
              '<img src="' +
              imgUrlCover +
              ' " class="card-img-top"' +
              'alt="' +
              data[i]["title"] +
              '"/></a>' +
              '<div class="card-body">' +
              '<h5 class="card-title">' +
              data[i]["title"] +
              '</h5><h6 class="card-subtitle mb-2 text-muted">' +
              extra +
              '</h6><p class="card-text">' +
              extraText +
              "</p></div></div></div>";
          }

          // 输出
          $("#Card-img").html(rstHtml);

          if ($.inArray("header", reLoadList) >= 0) {
            $("#rstHeaderShow").html(headerHtml);
          }

          reMainJs(jQuery, reLoadList);
        } else {
          $("#main").html(btnGetHTML("none"));
          reMainJs(jQuery, ["main"]);
        }
      }
    </script>
  </body>
</html>
