@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1628499005222') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e647";
}

.icon-guanyu:before {
  content: "\e69d";
}

